{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title> TRACKGROUND </title>

    <!-- CSS files -->
    <link href="{% static 'css/styles-playlists.css' %}" rel="stylesheet" />
    <link href="{% static 'css/skins/color-1.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="{% static 'css/style-switcher.css' %}">
    <link href="{% static 'css/skins/color-1.css' %}" rel="stylesheet" class="alternate-style" title="color-1"
        disabled />
    <link href="{% static 'css/skins/color-2.css' %}" rel="stylesheet" class="alternate-style" title="color-2"
        disabled />
    <link href="{% static 'css/skins/color-3.css' %}" rel="stylesheet" class="alternate-style" title="color-3"
        disabled />

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>

<body>

    <!-- Main Container -->
    <div class="main-container">
        <!-- Aside Start -->
        <div class="aside">
            <div class="logo">
                <a href="{% url 'home' %}"> <span>Track</span>ground</a>
            </div>
            <div class="nav-toggler">
                <span> </span>
            </div>
            <ul class="nav">
                <li>
                    <a href="/playlists/{{ user }}/#home" id="home-button" class=""><i class="fa fa-home"></i> Home </a>
                </li>
                <li>
                    <a href="/playlists/{{ user }}/#playlist" id="playlist-button"><i class="fa fa-music"></i> Playlists
                    </a>
                </li>
                <li>
                    <a href="/playlists/{{ user }}/#services" id="services-button"><i class="fa fa-plus"></i> Services
                    </a>
                </li>
                <li>
                    <a href="/playlists/{{ user }}/#account" id="account-button"><i class="fa fa-user"></i> Account </a>
                </li>
                <li>
                    <a href="/playlists/{{ user }}/#contact" id="contact-button"><i class="fa fa-comments"></i> Contact
                    </a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">

            <!-- Images Section -->
            <section class="images section" id="tracks">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2> Generated images </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="images-heading padd-15">
                            <h2> Choose one or more images to keep : </h2> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="images-listing padd-15">
                            <div class="images-group">
                                {% for image in generated_images %}
                                    <a class="select-image" href="#" label={{image}}><img src="/static/assets/img/buffer_cover/{{ image }}" alt=""></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="images-form padd-15">
                            <form action="" method="post" class="form" name="images-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="form-item col-12 padd-15">
                                        <div class="form-group">
                                            <p> {{ form.images }} </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-item col-12 padd-15">
                                        <div class="form-group">
                                            <button type="submit" class="btn"> Choose </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Style Switcher -->
    <div class="style-switcher">
        <div class="style-switcher-toggler s-icon">
            <i class="fas fa-cog fa-spin"></i>
        </div>
        <div class="day-night s-icon">
            <i class="fas"></i>
        </div>
        <h4> Theme Colors </h4>
        <div class="colors">
            <span class="color-1" onClick="setActiveStyle('color-1')"></span>
            <span class="color-2" onClick="setActiveStyle('color-2')"></span>
            <span class="color-3" onClick="setActiveStyle('color-3')"></span>
        </div>
    </div>


    <!-- JS files -->
    <script src="{% static 'js/script-images.js' %}"></script>
    <script src="{% static 'js/style-switcher.js' %}"></script>
</body>

</html>