{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name= "viewport" content="width-device-width, initial-scale=1.0">
    <title> TRACKGROUND </title>

    <!-- CSS files -->
    <link href="{% static 'css/styles-playlists2.css' %}" rel="stylesheet" />
    <link href="{% static 'css/skins/color-1.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="{% static 'css/style-switcher.css' %}">
    <link href="{% static 'css/skins/color-1.css' %}" rel="stylesheet" class="alternate-style" title="color-1" disabled />
    <link href="{% static 'css/skins/color-2.css' %}" rel="stylesheet" class="alternate-style" title="color-2" disabled />
    <link href="{% static 'css/skins/color-3.css' %}" rel="stylesheet" class="alternate-style" title="color-3" disabled />

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
    <!-- Main Container -->
    <div class="main-container">
        <!-- Aside Start -->
        <div class="aside">
            <div class="logo">
                <a href="{% url 'home' %}"> <span>Track</span>ground</a>
            </div>
            <div class="nav-toggler">
                <span> </span>
            </div>
            <ul class="nav">
                <li>
                    <a href="#" id="home-button" class="active"><i class="fa fa-home"></i> Home </a>
                </li>
                <li>
                    <a href="#" id="playlist-button"><i class="fa fa-music"></i> Playlists </a>
                </li>
                <li>
                    <a href="#" id="services-button"><i class="fa fa-plus"></i> Services </a>
                </li>
                <li>
                    <a href="#" id="account-button"><i class="fa fa-user"></i> Account </a>
                </li>
                <li>
                    <a href="#" id="contact-button"><i class="fa fa-comments"></i> Contact </a>
                </li>
            </ul>
        </div>
        <!-- Main Content -->
        <div class="main-content">
            <!-- Homa Section -->
            <section class="home section" id="home">
                <div class="container">
                    <div class="row">
                        <div class="home-info padd-15">
                            <h3 class="hello"> A Big Welcome from the <span class="name"> Trackground Team</span></h3>
                            <h3 class="my-profession"> You did the <span class="typing">  </span> coming here !</h3>
                            <p> 
                                With Trackground Music, you'll be able to manage your Spotify playlists with more ease, more features.
                                <br />
                                <br />
                                Want to customize your playlists? You can generate your own cover images using our intelligent image generation algorithm.
                                Want to listen to your playlists with your friends? Check the popularity of your music beforehand to avoid any discomfort :p
                                <br />
                                <br />
                                Don't hesitate to give us feedback! It's thanks to you that Trackground Music can improve and answer your desires!

                            </p>
                            <a href="#" class="btn hire-me" id="contact-button-2"> Contact us </a>
                        </div>
                        <div class="home-img padd-15">
                            <img src="{% static 'assets/img/home-user.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- Account Section -->
            <section class="account section hidden" id="account">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2> Account </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="account-content padd-15">
                            <div class="row">
                                <div class="account-text padd-15">
                                    <h3> You are log in as <span> {{ user.first_name }} {{user.last_name }}</span></h3>
                                    <p> 
                                        Here you have access to all the personal information that you entered when you created your Trackground Music account.
                                        <br />
                                        An update will be made later to allow you to modify them or to delete your account.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="personal-info padd-15">
                                    <div class="row">
                                        <div class="info-item padd-15">
                                            <p> First Name : <span> {{ user.first_name }} </span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p> Last Name : <span> {{ user.last_name }} </span></p>
                                        </div>
                                        <div class="info-item padd-15">
                                            <p> Email : <span> {{ user.email }} </span></p>
                                        </div>
                                        <div class="info-item-2 padd-15">
                                            <p> Spotify Username : <span> {{ user.spotify_username }} </span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="buttons padd-15">
                                            <a href="#" class="btn"> Modify </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="stats padd-15">
                                    <div class="row">
                                        <div class="stats-item padd-15">
                                            <h5> Number of playlists </h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 40%;"> </div>
                                                <div class="stats-percent"> 4 </div>
                                            </div>
                                        </div>
                                        <div class="stats-item padd-15">
                                            <h5> Global playlists popularity </h5>
                                            <div class="progress">
                                                <div class="progress-in" style="width: 90%;"> </div>
                                                <div class="stats-percent"> 9/10 </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Services Section -->
            <section class="services section hidden"  id="services">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2> Services </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-music"></i>
                                </div>
                                <h4> New Playlist </h4>
                                <p> By clicking on this service, you have access to the creation of a new playlist. Make us dance ! <br /><br /><br /></p>
                            </div>
                        </div>
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-image"></i>
                                </div>
                                <h4> Cover image </h4>
                                <p> By clicking on this service, you have access to the creation of a cover image. You can then assign 
                                    it to one of your playlists to know its theme / genre in a glance. </p>
                            </div>
                        </div>
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-headphones"></i>
                                </div>
                                <h4> Spotify </h4>
                                <p> By clicking on this service, you will be automatically redirected to the official Spotify page. <br /><br /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Playlist Section -->
            <section class="playlists section hidden" id="playlist">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2> Playlists </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="playlist-heading padd-15">
                            <h2> Here you can have access to your created playlists : </h2> 
                        </div>
                    </div>
                    <div class="row">
                        {% for item in playlists %}
                            <div class="playlist-item padd-15">
                                <div class="playlist-item-inner shadow-dark">
                                    <div class="playlist-img">
                                        <img src="{{ item.images.0.url }}" alt="">
                                    </div>
                                </div>
                                <h3> {{ item.name }}</h3>
                                <p>{{ item.description }}</p> 
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- Contact Section -->
            <section class="contact section hidden" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2> Contact Us </h2>
                        </div>
                    </div>
                    <h3 class="contact-title padd-15"> Have You Any Questions ?</h3>
                    <h4 class="contact-sub-title padd-15"> WE ARE AT YOUR SERVICE </h4>
                    <div class="row">
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-phone"></i></div>
                            <h4> Call Us On </h4>
                            <p> 07 34 56 98 10 </p> 
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                            <h4> Office </h4>
                            <p> ESIEE Paris </p> 
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-envelope"></i></div>
                            <h4> Email </h4>
                            <p> quentin.barthelemy@edu.esiee.fr </p> 
                            <p> thomas.jaillon@edu.esiee.fr </p> 
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-globe-europe"></i></div>
                            <h4> Github </h4>
                            <p> https://github.com/jaillont/app_fullstack_data </p> 
                        </div>
                    </div>
                    <h3 class="contact-title padd-15"> SEND US AN EMAIL </h3>
                    <h4 class="contact-sub-title padd-15"> WE ARE VERY RESPOSIVE TO MESSAGES </h4>
                    <div class="row">
                        <div class="contact-form padd-15">
                            <div class="row">
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Subject">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <textarea name="" id="" class="form-control" placeholder="Message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <button type="submit" class="btn"> Send Message </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Style Switcher -->
     <div class="style-switcher">
        <div class="style-switcher-toggler s-icon">
            <i class="fas fa-cog fa-spin"></i>
        </div>
        <div class="day-night s-icon">
            <i class="fas"></i>
        </div>
        <h4> Theme Colors </h4>
        <div class="colors">
            <span class="color-1" onClick="setActiveStyle('color-1')"></span>
            <span class="color-2" onClick="setActiveStyle('color-2')"></span>
            <span class="color-3" onClick="setActiveStyle('color-3')"></span>
        </div>
     </div>


    <!-- JS files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/scripts-playlists2.js' %}"></script>
    <script src="{% static 'js/style-switcher.js' %}"></script>
</body>
</html>